<!DOCTYPE html>
<html lang="es">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Iniciar Sesión</title>
    
    <link rel="stylesheet" type="text/css" href="../Vista/Scripts/estilos/style.css"  >
 

</head>
<body>
    <div class="mlogin">
        <div id="login">
        <h1> <img src="img/user.png"> <br> Iniciar Sesión</h1>
        <form name="loginform" id="loginform" action="" method="POST">
            <p>
                <label for="user_login">Nombre De Usuario<br />
                <input type="text" name="username" id="username" class="input" value="" size="20" /></label>
            </p>
            <p>
                <label for="user_pass">Contraseña<br />
                <input type="password" name="password" id="password" class="input" value="" size="20" /></label>
            </p>
            <p class="submit">
                <input type="submit" name="login" class="button" value="Entrar" />
            </p>
            <p class="regtext">No estas registrado? <a href="formulario_registrar_usuario.php">Registrate Aquí</a>!</p>
        </form>
        
        </div>
               <!-- <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Invalid username and password.
		        </div>
		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            You have been logged out.
		        </div> -->
            
</body>
</html>
