
*{
    box-sizing: border-box;
}

header{
    background: #1B396A;
    color: white;
    text-align: center;
    padding: 50px;
}

header h1{
    font-size: 50px;
}

.nav{
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

.nav a{

    float: left;
    display: block;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}

.nav a.right{
    float: right;
} 



footer{
    color: white;
    padding: 15px;
    text-align: center;
    background-color: slategrey;
}



