body {
    background-image: linear-gradient(125deg,#6a89cc,#b8e994);
    font-family: ‘Open Sans’, sans-serif;

    }
    
    a {
    color: #f58220;
    font-weight: 400;
    }
    
     h1 {
        color: #777;
        text-align: center;
        font-weight: 300;
        margin-top: 13px;
        }

  

  


    .button{
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#faa51a, endColorstr=#f47a20);
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
    cursor: pointer;
    }
    
    .button:hover{
    background: #f47c20;
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f88e11, endColorstr=#f06015);
    }
    
    .regtext {
        font-size: 13px;
        margin-top: 26px;
        color: #777;
        }