section {
    display: flex;
    flex: 95%;
    background-color:rgb(235, 230, 235);
}
.simple_form div.left {
    float: left;
    text-align: left;
    margin: 2px 10px;
    display: inline;
}

.div-search{
    text-align: center;
    
}


